.container {
    width: 100%;
    margin: 100px auto;
}

.inside {
    flex-wrap: wrap;
    justify-content: space-between;
}

.judul {
    font-size: 40px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 700;
    color: #fff;
}

.list_foto {
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}

.gambar img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.deskripsi {
    padding: 10px;
    text-align: center;
    color: #fff;
}

.upload{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #335234;
}


.container {
	padding: 20px;
}
		
.text-center {
	text-align: center;
}
		
.form-control {
	margin-bottom: 20px;
}
		
.input {
	width: 100%;
}
		
.btn {
	padding: 10px 20px;
}
		
.btn-success {
background-color: #4CAF50;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}
		
.btn-success:hover {
	background-color: #3e8e41;
}

#file-chosen{
    margin-top: 10px;
    margin-left: 0.3rem;
    font-family: sans-serif;
}

